<ul reversed class="row no-style {{ collectionClass }}">
  {% for post in postslist | reverse %}
    <li class="col-6-tablet col-6-desktop card corner-effect radius square-ratio padding{% if post.url == url %} postlist-item-active{% endif %}{% if post.color == url %} color {{ post.data.color }}{% endif %}">
      <a href="{{ post.url | url }}" class="link">
        <h3 class="title {% if post.color == url %}color {{ post.data.color }}{% endif %}">
          {% if post.data.title %}
            {{ post.data.title }}
          {% elseif post.data.genus %}
            {{ post.data.genus }} {{ post.data.species }}
          {% else %}
            <code>{{ post.url }}</code>
          {% endif %}
        </h3>
        {% if post.data.excerpt %}
          <div class="excerpt {% if post.color == url %}color {{ post.data.color }}{% endif %}">{{ post.data.excerpt }}</div>
        {% endif %}
        <time class="date {% if post.color == url %}color {{ post.data.color }}{% endif %}" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      </a>
    </li>
  {% endfor %}
  {% if collectionReadMore === "show" %}
    <li class="col-12-tablet col-12-desktop card radius padding color bluelight">
      <a class="link" href="{{ collectionLink | url }}">
        <h3 class="title more color bluelight">{{ collectionReadMoreTitle }}</h3>
        <p class="excerpt color bluelight">
          {{ collectionReadMoreText }}
        </p>
      </a>
    </li>
  {% endif %}
</ul>