---
layout: layouts/home.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 2
---

<section>
<h1>Projects.</h1>

{% set postslist = collections.projects %}
{% set collectionLink = '/posts/' %}
{% set collectionReadMore = 'hide' %}
{% include "postslist.njk" %}
</section>

{% include "section-sayhi.njk" %}
{% include "section-subscribe.njk" %}