{%- assign default_paths = site.pages | map: "path" -%} {%- assign page_paths =
site.header_pages | default: default_paths -%} {%- assign titles_size =
site.pages | map: 'title' | join: '' | size -%} {%- if titles_size > 0 -%}
<nav class="site-nav header-item">
  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label class="menu-icon" for="nav-trigger">
    <span></span>
    <span></span>
    <span></span>
    
    <svg height="100" width="100" class="round">
      <circle
        cx="50"
        cy="50"
        r="40"
        fill="#1f4954"
      />
    </svg>
    
  </label>
  <label class="trigger" for="nav-trigger">
    <ul>
      {%- for path in page_paths -%} {%- assign my_page = site.pages | where:
      "path", path | first -%} {%- if my_page.title -%}
      <li>
        <a class="page-link" href="{{ my_page.url | relative_url }}"
          >{{ my_page.title | escape }}</a
        >
      </li>
      {%- endif -%} {%- endfor -%}
    </ul>
  </label>
</nav>
{%- endif -%}
