<ul reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
  {% for post in postslist | reverse %}
    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}{% if post.color == url %} color-bg {{ post.data.color }}{% endif %}">
      <a href="{{ post.url | url }}" class="postlist-link">
        <span class="more">Read more</span>
        <h3>
          {% if post.data.title %}{{ post.data.title }}
          {% else %}
            <code>{{ post.url }}</code>
          {% endif %}
        </h3>
        {% if post.data.excerpt %}
          <div class="post-excerpt">{{ post.data.excerpt }}</div>
        {% endif %}
        <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      </a>
    </li>
  {% endfor %}
  {% if collectionReadMore === "show" %}
    <li class="color-bg bluelight wide">
      <a href="{{ collectionLink | url }}">
        <h3 class="post-title">Read all posts</h3>
        <p class="post-excerpt">
        I wrote about programming, IoT, 3D printer and Reef Tank
      </p>
      </a>
    </li>
  {% endif %}
</ul>