<section class="say-hi">
    <h2>Subscribe.</h2>
    <div class="color-bg bluedark info one-half">
        <div class="padding">
            <h3 class="fake-post-title">Get new posts delivered to your inbox</h3>
            <p>
                They're not frequent, promise ✌️ you can also <a href="{{ metadata.feed.path | url }}">subscribe to the RSS feed</a>.
            </p>
        </div>
    </div>
    <div class="info-image color-bg greylight one-half">
        <div class="padding">
            mailchimp form
        </div>
    </div>
</section>