<section class="section say-hi">
    <h2 class="post-list-heading">Subscribe.</h2>
    <div class="color-bg bluedark info one-half">
        <div class="padding">
            <h3 class="fake-post-title">Get new posts delivered to your inbox</h3>
            <p>
                They're not frequent, promise ✌️ you can also <a href="{{ 'feed.xml' | relative_url }}">subscribe to the RSS feed</a>.
            </p>
        </div>
    </div>
    <div class="info-image color-bg greylight one-half">
        <div class="padding">
            {%- include mailchimp-form.html -%}
        </div>
    </div>
</section>