// Checkbox

$size: 1em;
$lenght: 1em;

$checkbox: $size * 1.75;
$padding: 0.2em;
$width: $lenght + $size * 1.5 + $padding;

input {
  &[type='email'] {
    border: none;
    padding: $spacing-unit * 2;
    width: -webkit-fill-available;
    margin-bottom: $spacing-unit;
    border-radius: $radius;
  }

  &[type='checkbox'] {
    position: relative;
    width: $checkbox * 2;

    // sliding element
    &::after {
      cursor: pointer;
      content: '';
      background-color: lightgray;
      display: block;
      height: $size;
      width: $size;
      border-radius: calc($size / 2);
      position: absolute;
      left: $padding;
      top: calc($padding / -2);
      transform: translateX(0);
      transition: transform $animation-duration $animation-function;
    }

    &:checked::after {
      left: calc($size / 2) + ($padding * 2) ;
      opacity: 1;
      transform: translateX(100%);
      background-color: darkgray;
      transition: transform $animation-duration $animation-function;
    }

    // sliding container
    &::before {
      cursor: pointer;
      opacity: 1;
      content: '';
      background-color: var(--background-color);
      display: block;
      height: $size;
      width: $width;
      top: calc(-1 * ($padding + ($padding / 2)));
      border-radius: calc($size / 2) + $padding;
      padding: $padding;
      position: absolute;
    }
  }
}

@keyframes expand {
  0% {
    left: $padding;
    width: $size;
  }
  25% {
    left: $padding;
    width: $width;
  }
  50% {
    left: auto;
    right: $padding;
    width: $size;
  }
  100% {
    right: $padding;
    width: $size;
  }
}

@keyframes contract {
  0% {
    right: $padding;
    width: $size;
  }
  25% {
    right: $padding;
    width: $width;
  }
  50% {
    right: auto;
    left: $padding;
    width: $size;
  }
  100% {
    left: $padding;
    width: $size;
  }
}

img {
  border-style: none;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: var(--site-title-color);
}

button,
.btn {
  padding: $spacing-unit * 2;
  width: 100%;
  margin-top: $spacing-unit;
  border-radius: 6px;
}

.icon {
  padding: calc($spacing-unit / 2);
  &.big {
    font-size: 48px;
  }
}

.left {
  float: left;
  margin-right: auto;
}

.right {
  float: right;
  margin-left: auto;
  margin-right: 40px;
}
