---
layout: base
templateClass: tmpl-post
type: post
meta:
  site:
    name: Marc Dobler
    description: need description
    url: https://www.maximum-marine.ch
    logo:
      src: https://www.maximum-marine.ch/images/logo.png
      width: 1200
      height: 630
  language: fr-CH
  url: https://www.maximum-marine.ch/page
  title: Post title
  description: Post description
  image:
    src: https://www.maximum-marine.ch/images/page.png
  author:
    name: Marc Dobler
  published: 2020-07-03T06:43:21.123Z
  modified: 2020-07-03T08:35:46.289Z
  section: Blog
---

<article class="post">
  <header class="color {{ color }}">
    <h1 class="color {{ color }}">{{ title }}</h1>
    {% include "partials/waves.njk" %}
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
   
  </footer>
</article>