---
layout: base
templateClass: tmpl-product
type: product
---

<article class="product">
  <header class="color {{ color }}">
    
    <div class="row">

      <div class="col-6-tablet col-6-desktop no-margin">
        <div class="gallery square-ratio">
          <!-- Don't wrap targets in parent -->
          <s id="s1"></s>
          <s id="s2"></s>
          <s id="s3"></s>
          <s id="s4"></s>

          <div class="slider">
            <div style="background:#5b8;">
              <img src="/assets/images/corals/acropora-millepora.jpg"/>
            </div>
            <div style="background:#85b;">
              <img src="/assets/images/corals/acropora-millepora.jpg"/>
            </div>
            <div style="background:#e95;">
              <img src="/assets/images/corals/acropora-millepora.jpg"/>
            </div>
            <div style="background:#e59;">
              <img src="/assets/images/corals/acropora-millepora.jpg"/>
            </div>
          </div>

          <div class="prevNext">
            <div>
              <a class="color {{ color }}" href="#s4">
                <span class="material-symbols-outlined">
                arrow_back
                </span>
              </a>
              <a class="color {{ color }}" href="#s2">
                <span class="material-symbols-outlined">
                arrow_forward
                </span>
              </a>
            </div>
            <div>
              <a class="color {{ color }}" href="#s1">
                <span class="material-symbols-outlined">
                arrow_back
                </span>
              </a>
              <a class="color {{ color }}" href="#s3">
                <span class="material-symbols-outlined">
                arrow_forward
                </span>
              </a>
            </div>
            <div>
              <a class="color {{ color }}" href="#s2">
                <span class="material-symbols-outlined">
                arrow_back
                </span>
              </a>
              <a class="color {{ color }}" href="#s4">
                <span class="material-symbols-outlined">
                arrow_forward
                </span>
              </a>
            </div>
            <div>
              <a class="color {{ color }}" href="#s3">
                <span class="material-symbols-outlined">
                arrow_back
                </span>
              </a>
              <a class="color {{ color }}" href="#s1">
                <span class="material-symbols-outlined">
                arrow_forward
                </span>
              </a>
            </div>
          </div>

          <div class="bullets">
            <a href="#s1"><img src="/assets/images/corals/acropora-millepora.jpg"/></a>
            <a href="#s2"><img src="/assets/images/corals/acropora-millepora.jpg"/></a>
            <a href="#s3"><img src="/assets/images/corals/acropora-millepora.jpg"/></a>
            <a href="#s4"><img src="/assets/images/corals/acropora-millepora.jpg"/></a>
          </div>
        </div>
      </div>
      <div class="col-6-tablet col-6-desktop no-margin">
        <h1>{{ title }}</h1>
      </div>
      {% include "partials/waves.njk" %}
    </header>

    <main class="container padding">

      {{ content | safe }}
    </main>

    <footer></footer>
  </article>