---
layout: base
templateClass: tmpl-product
type: product
---

<article>
  <header class="color {{ color }}">
    <h1>{{ title }}</h1>
    <div class="grid">
    
  
    <div class="col-6 gallery color {{ color }}">

      <!-- Don't wrap targets in parent -->
      <s id="s1"></s> 
      <s id="s2"></s>
      <s id="s3"></s>
      <s id="s4"></s>

      <div class="slider">
        <div style="background:#5b8;">
          <img src="/assets/images/corals/acropora-millepora.jpg"/>
        </div>
        <div style="background:#85b;">
          <img src="/assets/images/corals/acropora-millepora.jpg"/>
        </div>
        <div style="background:#e95;">
          <img src="/assets/images/corals/acropora-millepora.jpg"/>
        </div>
        <div style="background:#e59;">
          <img src="/assets/images/corals/acropora-millepora.jpg"/>
        </div>
      </div>
      
      <div class="prevNext">
        <div><a class="color {{ color }}" href="#s4"></a><a class="color {{ color }}" href="#s2"></a></div>
        <div><a class="color {{ color }}" href="#s1"></a><a class="color {{ color }}" href="#s3"></a></div>
        <div><a class="color {{ color }}" href="#s2"></a><a class="color {{ color }}" href="#s4"></a></div>
        <div><a class="color {{ color }}" href="#s3"></a><a class="color {{ color }}" href="#s1"></a></div>
      </div>

      <div class="bullets">
        <a href="#s1"><img src="/assets/images/corals/acropora-millepora.jpg"/></a>
        <a href="#s2"><img src="/assets/images/corals/acropora-millepora.jpg"/></a>
        <a href="#s3"><img src="/assets/images/corals/acropora-millepora.jpg"/></a>
        <a href="#s4"><img src="/assets/images/corals/acropora-millepora.jpg"/></a>
      </div>

    </div>

  </header>

  <main>
    
    {{ content | safe }}
  </main>

  <footer>
   
  </footer>
</article>