---
layout: base
templateClass: tmpl-product
type: product
---

<article >
  <header class="color {{ color }}">
    <h1>{{ title }}</h1>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
   
  </footer>
</article>