:root {
  --amber: #c1605c;
  --black: #211f1f;
  --blue: #475795;
  --bluedark: #2b2f3c;
  --bluegrey: #98bec8;
  --bluelight: #d1e1e0;
  --brown: #965630;
  --darkgray: #333333;
  --gray: #808080;
  --green: #3a6351;
  --greylight: #9ba5b5;
  --lightgray: #f3f3f3;
  --navy: #0f1a24;
  --orange: #bf3100;
  --pink: #e7617c;
  --purple: #7d63d0;
  --teal: #247b8a;
  --violet: #a246d6;
  --white: #ffffff;
  --yellow: #f8c713;
  --redstraight: #ff0000;
  --red: #c22203;
  --silver: #d1d1d1;
  --seagreen: #2e8b57;
  --cyan: #00ffff;
  --darkgreen: #006400;
  --olivegreen: #808000;
  --gold: #ffd700;
  --background-color: map-get($themeColours, "lightgray");
  --site-title-color: map-get($themeColours, "darkgray");
}

.color.amber {
  background-color: var(--amber);
  color: #f3f3f3;
}
.color.amber ::selection,
.color.amber ::-moz-selection {
  background: #5cbdc1;
  color: #333333;
}
.color.amber.invert, .color.amber.invert *, .color.amber.invert *::selection {
  background: #5cbdc1;
  color: #333333;
}
.color.amber .no-color {
  background-color: transparent;
}
.color.amber .link:after {
  background-color: #722e2b;
}

.title.color.amber::after,
.menu-icon .color.amber {
  background-color: #f3f3f3;
}

.color.black {
  background-color: var(--black);
  color: #f3f3f3;
}
.color.black ::selection,
.color.black ::-moz-selection {
  background: #1f2121;
  color: #f3f3f3;
}
.color.black.invert, .color.black.invert *, .color.black.invert *::selection {
  background: #1f2121;
  color: #f3f3f3;
}
.color.black .no-color {
  background-color: transparent;
}
.color.black .link:after {
  background-color: black;
}

.title.color.black::after,
.menu-icon .color.black {
  background-color: #f3f3f3;
}

.color.blue {
  background-color: var(--blue);
  color: #f3f3f3;
}
.color.blue ::selection,
.color.blue ::-moz-selection {
  background: #958547;
  color: #f3f3f3;
}
.color.blue.invert, .color.blue.invert *, .color.blue.invert *::selection {
  background: #958547;
  color: #f3f3f3;
}
.color.blue .no-color {
  background-color: transparent;
}
.color.blue .link:after {
  background-color: #1e253f;
}

.title.color.blue::after,
.menu-icon .color.blue {
  background-color: #f3f3f3;
}

.color.bluedark {
  background-color: var(--bluedark);
  color: #f3f3f3;
}
.color.bluedark ::selection,
.color.bluedark ::-moz-selection {
  background: #3c382b;
  color: #f3f3f3;
}
.color.bluedark.invert, .color.bluedark.invert *, .color.bluedark.invert *::selection {
  background: #3c382b;
  color: #f3f3f3;
}
.color.bluedark .no-color {
  background-color: transparent;
}
.color.bluedark .link:after {
  background-color: black;
}

.title.color.bluedark::after,
.menu-icon .color.bluedark {
  background-color: #f3f3f3;
}

.color.bluegrey {
  background-color: var(--bluegrey);
  color: #333333;
}
.color.bluegrey ::selection,
.color.bluegrey ::-moz-selection {
  background: #c8a298;
  color: #333333;
}
.color.bluegrey.invert, .color.bluegrey.invert *, .color.bluegrey.invert *::selection {
  background: #c8a298;
  color: #333333;
}
.color.bluegrey .no-color {
  background-color: transparent;
}
.color.bluegrey .link:after {
  background-color: #4e8492;
}

.title.color.bluegrey::after,
.menu-icon .color.bluegrey {
  background-color: #333333;
}

.color.bluelight {
  background-color: var(--bluelight);
  color: #333333;
}
.color.bluelight ::selection,
.color.bluelight ::-moz-selection {
  background: #e1d1d2;
  color: #333333;
}
.color.bluelight.invert, .color.bluelight.invert *, .color.bluelight.invert *::selection {
  background: #e1d1d2;
  color: #333333;
}
.color.bluelight .no-color {
  background-color: transparent;
}
.color.bluelight .link:after {
  background-color: #84afac;
}

.title.color.bluelight::after,
.menu-icon .color.bluelight {
  background-color: #333333;
}

.color.brown {
  background-color: var(--brown);
  color: #f3f3f3;
}
.color.brown ::selection,
.color.brown ::-moz-selection {
  background: #307096;
  color: #f3f3f3;
}
.color.brown.invert, .color.brown.invert *, .color.brown.invert *::selection {
  background: #307096;
  color: #f3f3f3;
}
.color.brown .no-color {
  background-color: transparent;
}
.color.brown .link:after {
  background-color: #351f11;
}

.title.color.brown::after,
.menu-icon .color.brown {
  background-color: #f3f3f3;
}

.color.darkgray {
  background-color: var(--darkgray);
  color: #f3f3f3;
}
.color.darkgray ::selection,
.color.darkgray ::-moz-selection {
  background: #333333;
  color: #f3f3f3;
}
.color.darkgray.invert, .color.darkgray.invert *, .color.darkgray.invert *::selection {
  background: #333333;
  color: #f3f3f3;
}
.color.darkgray .no-color {
  background-color: transparent;
}
.color.darkgray .link:after {
  background-color: black;
}

.title.color.darkgray::after,
.menu-icon .color.darkgray {
  background-color: #f3f3f3;
}

.color.gray {
  background-color: var(--gray);
  color: #f3f3f3;
}
.color.gray ::selection,
.color.gray ::-moz-selection {
  background: gray;
  color: #f3f3f3;
}
.color.gray.invert, .color.gray.invert *, .color.gray.invert *::selection {
  background: gray;
  color: #f3f3f3;
}
.color.gray .no-color {
  background-color: transparent;
}
.color.gray .link:after {
  background-color: #404040;
}

.title.color.gray::after,
.menu-icon .color.gray {
  background-color: #f3f3f3;
}

.color.green {
  background-color: var(--green);
  color: #f3f3f3;
}
.color.green ::selection,
.color.green ::-moz-selection {
  background: #633a4c;
  color: #f3f3f3;
}
.color.green.invert, .color.green.invert *, .color.green.invert *::selection {
  background: #633a4c;
  color: #f3f3f3;
}
.color.green .no-color {
  background-color: transparent;
}
.color.green .link:after {
  background-color: #0b130f;
}

.title.color.green::after,
.menu-icon .color.green {
  background-color: #f3f3f3;
}

.color.greylight {
  background-color: var(--greylight);
  color: #333333;
}
.color.greylight ::selection,
.color.greylight ::-moz-selection {
  background: #b5ab9b;
  color: #333333;
}
.color.greylight.invert, .color.greylight.invert *, .color.greylight.invert *::selection {
  background: #b5ab9b;
  color: #333333;
}
.color.greylight .no-color {
  background-color: transparent;
}
.color.greylight .link:after {
  background-color: #596578;
}

.title.color.greylight::after,
.menu-icon .color.greylight {
  background-color: #333333;
}

.color.lightgray {
  background-color: var(--lightgray);
  color: #333333;
}
.color.lightgray ::selection,
.color.lightgray ::-moz-selection {
  background: #f3f3f3;
  color: #333333;
}
.color.lightgray.invert, .color.lightgray.invert *, .color.lightgray.invert *::selection {
  background: #f3f3f3;
  color: #333333;
}
.color.lightgray .no-color {
  background-color: transparent;
}
.color.lightgray .link:after {
  background-color: #b3b3b3;
}

.title.color.lightgray::after,
.menu-icon .color.lightgray {
  background-color: #333333;
}

.color.navy {
  background-color: var(--navy);
  color: #f3f3f3;
}
.color.navy ::selection,
.color.navy ::-moz-selection {
  background: #24190f;
  color: #f3f3f3;
}
.color.navy.invert, .color.navy.invert *, .color.navy.invert *::selection {
  background: #24190f;
  color: #f3f3f3;
}
.color.navy .no-color {
  background-color: transparent;
}
.color.navy .link:after {
  background-color: black;
}

.title.color.navy::after,
.menu-icon .color.navy {
  background-color: #f3f3f3;
}

.color.orange {
  background-color: var(--orange);
  color: #f3f3f3;
}
.color.orange ::selection,
.color.orange ::-moz-selection {
  background: #008ebf;
  color: #f3f3f3;
}
.color.orange.invert, .color.orange.invert *, .color.orange.invert *::selection {
  background: #008ebf;
  color: #f3f3f3;
}
.color.orange .no-color {
  background-color: transparent;
}
.color.orange .link:after {
  background-color: #401000;
}

.title.color.orange::after,
.menu-icon .color.orange {
  background-color: #f3f3f3;
}

.color.pink {
  background-color: var(--pink);
  color: #333333;
}
.color.pink ::selection,
.color.pink ::-moz-selection {
  background: #61e7cc;
  color: #333333;
}
.color.pink.invert, .color.pink.invert *, .color.pink.invert *::selection {
  background: #61e7cc;
  color: #333333;
}
.color.pink .no-color {
  background-color: transparent;
}
.color.pink .link:after {
  background-color: #ae1a38;
}

.title.color.pink::after,
.menu-icon .color.pink {
  background-color: #333333;
}

.color.purple {
  background-color: var(--purple);
  color: #f3f3f3;
}
.color.purple ::selection,
.color.purple ::-moz-selection {
  background: #b6d063;
  color: #333333;
}
.color.purple.invert, .color.purple.invert *, .color.purple.invert *::selection {
  background: #b6d063;
  color: #333333;
}
.color.purple .no-color {
  background-color: transparent;
}
.color.purple .link:after {
  background-color: #412a8a;
}

.title.color.purple::after,
.menu-icon .color.purple {
  background-color: #f3f3f3;
}

.color.teal {
  background-color: var(--teal);
  color: #f3f3f3;
}
.color.teal ::selection,
.color.teal ::-moz-selection {
  background: #8a3324;
  color: #f3f3f3;
}
.color.teal.invert, .color.teal.invert *, .color.teal.invert *::selection {
  background: #8a3324;
  color: #f3f3f3;
}
.color.teal .no-color {
  background-color: transparent;
}
.color.teal .link:after {
  background-color: #0a2125;
}

.title.color.teal::after,
.menu-icon .color.teal {
  background-color: #f3f3f3;
}

.color.violet {
  background-color: var(--violet);
  color: #f3f3f3;
}
.color.violet ::selection,
.color.violet ::-moz-selection {
  background: #7ad646;
  color: #333333;
}
.color.violet.invert, .color.violet.invert *, .color.violet.invert *::selection {
  background: #7ad646;
  color: #333333;
}
.color.violet .no-color {
  background-color: transparent;
}
.color.violet .link:after {
  background-color: #5c1c80;
}

.title.color.violet::after,
.menu-icon .color.violet {
  background-color: #f3f3f3;
}

.color.white {
  background-color: var(--white);
  color: #333333;
}
.color.white ::selection,
.color.white ::-moz-selection {
  background: white;
  color: #333333;
}
.color.white.invert, .color.white.invert *, .color.white.invert *::selection {
  background: white;
  color: #333333;
}
.color.white .no-color {
  background-color: transparent;
}
.color.white .link:after {
  background-color: #bfbfbf;
}

.title.color.white::after,
.menu-icon .color.white {
  background-color: #333333;
}

.color.yellow {
  background-color: var(--yellow);
  color: #333333;
}
.color.yellow ::selection,
.color.yellow ::-moz-selection {
  background: #1344f8;
  color: #f3f3f3;
}
.color.yellow.invert, .color.yellow.invert *, .color.yellow.invert *::selection {
  background: #1344f8;
  color: #f3f3f3;
}
.color.yellow .no-color {
  background-color: transparent;
}
.color.yellow .link:after {
  background-color: #876b04;
}

.title.color.yellow::after,
.menu-icon .color.yellow {
  background-color: #333333;
}

.color.redstraight {
  background-color: var(--redstraight);
  color: #f3f3f3;
}
.color.redstraight ::selection,
.color.redstraight ::-moz-selection {
  background: aqua;
  color: #333333;
}
.color.redstraight.invert, .color.redstraight.invert *, .color.redstraight.invert *::selection {
  background: aqua;
  color: #333333;
}
.color.redstraight .no-color {
  background-color: transparent;
}
.color.redstraight .link:after {
  background-color: maroon;
}

.title.color.redstraight::after,
.menu-icon .color.redstraight {
  background-color: #f3f3f3;
}

.color.red {
  background-color: var(--red);
  color: #f3f3f3;
}
.color.red ::selection,
.color.red ::-moz-selection {
  background: #03a3c2;
  color: #333333;
}
.color.red.invert, .color.red.invert *, .color.red.invert *::selection {
  background: #03a3c2;
  color: #333333;
}
.color.red .no-color {
  background-color: transparent;
}
.color.red .link:after {
  background-color: #440c01;
}

.title.color.red::after,
.menu-icon .color.red {
  background-color: #f3f3f3;
}

.color.silver {
  background-color: var(--silver);
  color: #333333;
}
.color.silver ::selection,
.color.silver ::-moz-selection {
  background: #d1d1d1;
  color: #333333;
}
.color.silver.invert, .color.silver.invert *, .color.silver.invert *::selection {
  background: #d1d1d1;
  color: #333333;
}
.color.silver .no-color {
  background-color: transparent;
}
.color.silver .link:after {
  background-color: #919191;
}

.title.color.silver::after,
.menu-icon .color.silver {
  background-color: #333333;
}

.color.seagreen {
  background-color: var(--seagreen);
  color: #f3f3f3;
}
.color.seagreen ::selection,
.color.seagreen ::-moz-selection {
  background: #8b2e62;
  color: #f3f3f3;
}
.color.seagreen.invert, .color.seagreen.invert *, .color.seagreen.invert *::selection {
  background: #8b2e62;
  color: #f3f3f3;
}
.color.seagreen .no-color {
  background-color: transparent;
}
.color.seagreen .link:after {
  background-color: #0e2b1b;
}

.title.color.seagreen::after,
.menu-icon .color.seagreen {
  background-color: #f3f3f3;
}

.color.cyan {
  background-color: var(--cyan);
  color: #333333;
}
.color.cyan ::selection,
.color.cyan ::-moz-selection {
  background: red;
  color: #f3f3f3;
}
.color.cyan.invert, .color.cyan.invert *, .color.cyan.invert *::selection {
  background: red;
  color: #f3f3f3;
}
.color.cyan .no-color {
  background-color: transparent;
}
.color.cyan .link:after {
  background-color: teal;
}

.title.color.cyan::after,
.menu-icon .color.cyan {
  background-color: #333333;
}

.color.darkgreen {
  background-color: var(--darkgreen);
  color: #f3f3f3;
}
.color.darkgreen ::selection,
.color.darkgreen ::-moz-selection {
  background: #640064;
  color: #f3f3f3;
}
.color.darkgreen.invert, .color.darkgreen.invert *, .color.darkgreen.invert *::selection {
  background: #640064;
  color: #f3f3f3;
}
.color.darkgreen .no-color {
  background-color: transparent;
}
.color.darkgreen .link:after {
  background-color: black;
}

.title.color.darkgreen::after,
.menu-icon .color.darkgreen {
  background-color: #f3f3f3;
}

.color.olivegreen {
  background-color: var(--olivegreen);
  color: #f3f3f3;
}
.color.olivegreen ::selection,
.color.olivegreen ::-moz-selection {
  background: navy;
  color: #f3f3f3;
}
.color.olivegreen.invert, .color.olivegreen.invert *, .color.olivegreen.invert *::selection {
  background: navy;
  color: #f3f3f3;
}
.color.olivegreen .no-color {
  background-color: transparent;
}
.color.olivegreen .link:after {
  background-color: #010100;
}

.title.color.olivegreen::after,
.menu-icon .color.olivegreen {
  background-color: #f3f3f3;
}

.color.gold {
  background-color: var(--gold);
  color: #333333;
}
.color.gold ::selection,
.color.gold ::-moz-selection {
  background: #0028ff;
  color: #f3f3f3;
}
.color.gold.invert, .color.gold.invert *, .color.gold.invert *::selection {
  background: #0028ff;
  color: #f3f3f3;
}
.color.gold .no-color {
  background-color: transparent;
}
.color.gold .link:after {
  background-color: #806c00;
}

.title.color.gold::after,
.menu-icon .color.gold {
  background-color: #333333;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  text-size-adjust: 100%;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 768px) {
  .col {
    grid-column: 1/-1;
    margin: 1rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .col-1-tablet {
    grid-column: span 1;
    margin: 1rem 0;
  }
  .col-2-tablet {
    grid-column: span 2;
    margin: 1rem 0;
  }
  .col-3-tablet {
    grid-column: span 3;
    margin: 1rem 0;
  }
  .col-4-tablet {
    grid-column: span 4;
    margin: 1rem 0;
  }
  .col-5-tablet {
    grid-column: span 5;
    margin: 1rem 0;
  }
  .col-6-tablet {
    grid-column: span 6;
    margin: 1rem 0;
  }
  .col-7-tablet {
    grid-column: span 7;
    margin: 1rem 0;
  }
  .col-8-tablet {
    grid-column: span 8;
    margin: 1rem 0;
  }
  .col-9-tablet {
    grid-column: span 9;
    margin: 1rem 0;
  }
  .col-10-tablet {
    grid-column: span 10;
    margin: 1rem 0;
  }
  .col-11-tablet {
    grid-column: span 11;
    margin: 1rem 0;
  }
  .col-12-tablet {
    grid-column: span 12;
    margin: 1rem 0;
  }
}
@media (min-width: 1024px) {
  .col-1-desktop {
    grid-column: span 1;
    margin: 1rem 0;
  }
  .col-2-desktop {
    grid-column: span 2;
    margin: 1rem 0;
  }
  .col-3-desktop {
    grid-column: span 3;
    margin: 1rem 0;
  }
  .col-4-desktop {
    grid-column: span 4;
    margin: 1rem 0;
  }
  .col-5-desktop {
    grid-column: span 5;
    margin: 1rem 0;
  }
  .col-6-desktop {
    grid-column: span 6;
    margin: 1rem 0;
  }
  .col-7-desktop {
    grid-column: span 7;
    margin: 1rem 0;
  }
  .col-8-desktop {
    grid-column: span 8;
    margin: 1rem 0;
  }
  .col-9-desktop {
    grid-column: span 9;
    margin: 1rem 0;
  }
  .col-10-desktop {
    grid-column: span 10;
    margin: 1rem 0;
  }
  .col-11-desktop {
    grid-column: span 11;
    margin: 1rem 0;
  }
  .col-12-desktop {
    grid-column: span 12;
    margin: 1rem 0;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1200px) {
  .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (max-width: 1200px) and (max-width: 768px) {
  .container {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
}
@media (max-width: 768px) {
  .row {
    grid-column-gap: 0px;
  }
}

.no-gutter {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.gallery {
  position: relative;
  overflow: hidden;
  height: 100%; /* Or set a fixed height */
  width: 100%;
  /* SLIDER */
  /* PREV/NEXT, CONTAINERS & ANCHORS */
}
.gallery .slider {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
  /* SLIDES */
}
.gallery .slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}
.gallery .prevNext {
  position: absolute;
  z-index: 1;
  bottom: 8em;
  width: 240px;
  height: 0;
  right: 1em;
}
.gallery .prevNext > div + div {
  visibility: hidden; /* Hide all but first P/N container */
}
.gallery .prevNext a {
  position: absolute;
  width: 120px;
  height: 60px;
  line-height: 60px; /* If you want to place numbers */
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  border: 1px solid #000;
}
.gallery .prevNext a + a {
  left: auto;
  right: 0;
}

/* NAVIGATION */
.gallery .bullets {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.gallery .bullets > a {
  float: left;
  width: 90px;
  height: 90px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgb(255, 255, 255);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.gallery .bullets > a + a {
  background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}

.gallery .bullets > a:hover {
  opacity: 0.5;
  background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.gallery > s:target ~ .bullets > * {
  background: rgba(255, 255, 255, 0.5);
}

/* ACTIVE */
#s1:target ~ .bullets > *:nth-child(1) {
  opacity: 0.5;
  background: rgb(255, 255, 255);
}

#s2:target ~ .bullets > *:nth-child(2) {
  opacity: 0.5;
  background: rgb(255, 255, 255);
}

#s3:target ~ .bullets > *:nth-child(3) {
  opacity: 0.5;
  background: rgb(255, 255, 255);
}

#s4:target ~ .bullets > *:nth-child(4) {
  opacity: 0.5;
  background: rgb(255, 255, 255);
}

/* More slides? Add here more rules */
/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.gallery > s:target ~ .prevNext > * {
  visibility: hidden;
}

/* ACTIVE: */
#s1:target ~ .prevNext > *:nth-child(1) {
  visibility: visible;
}

#s2:target ~ .prevNext > *:nth-child(2) {
  visibility: visible;
}

#s3:target ~ .prevNext > *:nth-child(3) {
  visibility: visible;
}

#s4:target ~ .prevNext > *:nth-child(4) {
  visibility: visible;
}

/* More slides? Add here more rules */
/* SLIDER ANIMATION POSITIONS */
#s1:target ~ .slider {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

#s2:target ~ .slider {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

#s3:target ~ .slider {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
}

#s4:target ~ .slider {
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
}

/* More slides? Add here more rules */
* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

/* Basic styling */
body {
  scroll-behavior: smooth;
  font: 400 18px/1.5 "Open Sans", sans-serif;
  color: var(--site-title-color);
  background-color: var(--background-color);
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
  background-color: var(--lightgray);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gabarito", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tmpl-post > header,
.tmpl-page > header,
.tmpl-product > header {
  position: absolute;
  z-index: 9;
}

.sr-text {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.small {
  font-size: 0.5rem;
}

.btn, button {
  border: none;
  font-size: smaller;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease-in-out 250ms;
}
.btn.wide, button.wide {
  width: -webkit-fill-available;
}
.btn:hover, button:hover {
  background-color: var(--green);
  color: white;
}

.icon.delete {
  color: var(--redstraight);
}

.no-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.smaller {
  font-size: smaller;
}

.strong {
  font-weight: bold;
}

.fullscreen {
  width: 100%;
  height: max-content;
}

.align-right {
  margin-left: auto;
  float: right;
}

.align-left {
  margin-right: auto;
  float: left;
}

/* Separator definition */
.separator-thin::before {
  background-color: white;
  content: "";
  display: block;
  height: 1px;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  opacity: 0.5;
  width: inherit;
}

.separator-large::before {
  background-color: white;
  content: "";
  display: block;
  height: 2px;
  margin-bottom: 1em;
  margin-left: -2.5em;
  margin-right: -2.5em;
  margin-top: 1em;
  opacity: 1;
  width: inherit;
}

nav {
  display: inline-block;
  min-width: 30px;
  max-width: fit-content;
  justify-self: left;
  z-index: 9999;
  margin-left: 40px;
}
nav label {
  height: 3em;
  transition: 0.3s;
  display: flex;
  align-items: center;
  padding: 10px;
}
nav label .round {
  position: fixed;
  top: 1.2em;
  left: 1.5em;
  transform: scale(0);
  transition: 0.3s;
}
nav .menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}
nav .menu-icon span {
  display: block;
  width: 3em;
  height: 4px;
  transition: 0.3s;
  border-radius: 1.6666666667px;
}
nav .menu-icon:hover span:nth-child(1) {
  width: 2em;
}
nav .menu-icon:hover span:nth-child(2) {
  width: 3em;
}
nav .menu-icon:hover span:nth-child(3) {
  width: 2.5em;
}
nav .trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
nav .trigger ul {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
}
nav .trigger ul a {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}
nav .trigger ul a:hover {
  color: #1f4954;
  background-color: white;
}
nav input.nav-trigger {
  display: none;
}
nav input:checked ~ label {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 2;
}
nav input:checked ~ label span {
  display: none;
}
nav input:checked ~ label .round {
  transform: scale(75);
  position: fixed;
}
nav input:checked ~ .trigger {
  display: flex;
  overflow: hidden;
  z-index: 9;
}
nav input:checked ~ .trigger ul {
  opacity: 0;
  animation: menuappear 0.25s;
  animation-direction: alternate;
  animation-delay: 150ms;
  animation-fill-mode: forwards;
}
@keyframes menuappear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
nav .page-link {
  color: #000000;
  line-height: 1.5;
  display: block;
  padding: 5px 10px;
  margin-left: 20px;
}
nav .page-link:not(:last-child) {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  nav {
    border: none;
    background-color: inherit;
  }
  nav .page-link {
    display: inline;
    padding: 0;
    margin-left: auto;
  }
  nav .page-link:not(:last-child) {
    margin-right: 20px;
  }
}

/**
   * Posts
   */
.post header {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 0;
  min-height: 750px;
  height: 85vh;
  padding: 0 10px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .post header {
    flex-direction: column;
  }
}
.post header h1 {
  font-size: 2.625rem;
  z-index: 0;
  padding: 20px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .post header h1 {
    font-size: 2.025rem;
  }
}
.post header img {
  height: inherit;
  left: 0;
  min-width: 50%;
  position: absolute;
  top: 0;
  z-index: 0;
  max-width: 50%;
}
@media screen and (max-width: 768px) {
  .post header img {
    max-width: 100%;
  }
}
.post header .info {
  position: absolute;
  bottom: -50px;
  right: 0;
  z-index: 1;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.post header .info li {
  width: 250px; /* Adjust the width according to your design */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  padding-bottom: 20px;
}
.post header .info li:last-child {
  padding-bottom: 0;
}
.post main > p:first-child {
  margin-top: 40px;
}
.post main a::after {
  content: "link";
  font-family: "Material Symbols Outlined";
}
.post footer .post-tag {
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .post footer .post-tag {
    font-size: 1rem;
  }
}
.post footer .post-tag a {
  text-transform: capitalize;
}
.post footer time {
  font-size: 2.5rem;
  position: absolute;
  margin-top: 18px;
  right: 0;
}

.customer-action {
  height: 100%;
  position: fixed;
  right: 0%;
  top: 0;
  width: 50%;
  max-width: 450px;
  box-shadow: 0 0 20px #000000;
  z-index: 999;
  grid-template-rows: 1em 1em 1fr 1fr;
  transform: translateX(100%);
}
.customer-action::after {
  background-color: rgba(0, 0, 0, 0.2784313725);
  content: "";
  height: 100vh;
  left: -100vw;
  position: absolute;
  top: 0;
  width: 100vw;
  display: none;
}
.customer-action .actions,
.customer-action .title {
  height: 1.4em;
}
.customer-action .cart {
  position: relative;
  margin-left: auto;
}
.customer-action .cart::after {
  content: attr(items);
  color: #000000;
  font-family: Arial;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -0.5em;
  left: -0.25em;
  font-size: 0.69em;
  font-weight: bold;
}
.customer-action .items .item {
  margin-bottom: 10px;
}
.customer-action .items .image {
  aspect-ratio: 1/1;
}
.customer-action .items .variation {
  border: 1px solid #ffffff;
  border-radius: 100%;
  padding: 0.25em;
}
.customer-action .totals {
  margin-top: auto;
  margin-bottom: 1em;
}
.customer-action .totals li {
  padding: 0;
  line-height: 2em;
}
.customer-action .totals li.label {
  margin-right: auto;
}
.customer-action .totals li:last-child {
  font-weight: bold;
}

.product h1 {
  margin-top: 4em;
  text-align: center;
}

.card {
  position: relative;
  transition: 0.3s;
}
.card.corner-effect:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 0.32);
  border-top-color: var(--background-color);
  border-right-color: var(--background-color);
  transition: 0.3s;
  border-bottom-left-radius: 8px;
  color: var(--lightgray);
}
.card .title {
  transform: translateY(0);
  transition: 0.3s;
  text-align: center;
}
.card .title:after {
  transition: 0.3s;
  content: "";
  display: block;
  margin: 1em auto 0 auto;
  height: 4px;
  width: 80px;
}
.card .more.title {
  padding: 0px;
}
.card:hover .title {
  transform: translateY(-10px);
}
.card:hover .title:after {
  transform: scaleX(2);
}
.card.corner-effect:hover:after {
  border-width: 2em;
}
.card .date {
  margin-top: auto;
  display: block;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
}
.card .link {
  display: flex;
  flex-flow: column nowrap;
  text-decoration: none;
  text-align: center;
  height: 100%;
  position: relative;
}
.card .link .excerpt {
  font-size: 15px;
}

.shopList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.shopList > .card {
  aspect-ratio: 1/1;
}

.waves {
  position: absolute;
  width: 100%;
  height: 5vh;
  min-height: 80px;
  max-height: 150px;
  margin-bottom: 0;
  bottom: 0;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  to {
    transform: translate3d(85px, 0, 0);
  }
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:first-child {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: var(--lightgray);
}

/*

Name:       Base16 Monokai Dark
Author:     Wimer Hazenberg (http://www.monokai.nl)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
code[class*=language-],
pre[class*=language-] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #272822;
  color: #f8f8f2;
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #a59f85;
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  text-shadow: none;
  background: #a59f85;
}

/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #75715e;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #fd971f;
}

.token.property {
  color: #f4bf75;
}

.token.tag {
  color: #66d9ef;
}

.token.string {
  color: #a1efe4;
}

.token.selector {
  color: #ae81ff;
}

.token.attr-name {
  color: #fd971f;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a1efe4;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #a6e22e;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #a1efe4;
}

.token.placeholder,
.token.variable {
  color: #66d9ef;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #f9f8f5;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #f92672;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #f92672;
  outline-offset: 0.4em;
}

.line-numbers .line-numbers-rows {
  border-right-color: #383830 !important;
}

.line-numbers-rows > span:before {
  color: #49483e !important;
}

.line-highlight {
  background: rgba(249, 248, 245, 0.2) !important;
  background: -webkit-linear-gradient(left, rgba(249, 248, 245, 0.2) 70%, rgba(249, 248, 245, 0)) !important;
  background: linear-gradient(to right, rgba(249, 248, 245, 0.2) 70%, rgba(249, 248, 245, 0)) !important;
}

input[type=email] {
  border: none;
  padding: 20px;
  width: -webkit-fill-available;
  margin-bottom: 10px;
  border-radius: 8px;
}
input[type=checkbox] {
  position: relative;
  width: 3.5em;
}
input[type=checkbox]::after {
  cursor: pointer;
  content: "";
  background-color: lightgray;
  display: block;
  height: 1em;
  width: 1em;
  border-radius: 0.5em;
  position: absolute;
  left: 0.2em;
  top: -0.1em;
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
input[type=checkbox]:checked::after {
  left: 0.9em;
  opacity: 1;
  transform: translateX(100%);
  background-color: darkgray;
  transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
input[type=checkbox]::before {
  cursor: pointer;
  opacity: 1;
  content: "";
  background-color: var(--background-color);
  display: block;
  height: 1em;
  width: 2.7em;
  top: -0.3em;
  border-radius: 0.7em;
  padding: 0.2em;
  position: absolute;
}

@keyframes expand {
  0% {
    left: 0.2em;
    width: 1em;
  }
  25% {
    left: 0.2em;
    width: 2.7em;
  }
  50% {
    left: auto;
    right: 0.2em;
    width: 1em;
  }
  100% {
    right: 0.2em;
    width: 1em;
  }
}
@keyframes contract {
  0% {
    right: 0.2em;
    width: 1em;
  }
  25% {
    right: 0.2em;
    width: 2.7em;
  }
  50% {
    right: auto;
    left: 0.2em;
    width: 1em;
  }
  100% {
    left: 0.2em;
    width: 1em;
  }
}
.img-fill, img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--site-title-color);
}

button,
.btn {
  padding: 20px;
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
}

.icon {
  padding: 5px;
}
.icon.big {
  font-size: 48px;
}

.bold {
  font-weight: bold;
}

.padding {
  padding: 4rem;
}
@media (max-width: 768px) {
  .padding {
    padding: 1rem;
  }
}

.no-margin {
  margin: 0;
}

.left {
  float: left;
  margin-right: auto;
}

.right {
  float: right;
  margin-left: auto;
  margin-right: 40px;
}

@media (min-width: 1200px) {
  .square-ratio {
    aspect-ratio: 1/1;
  }
}

.radius {
  border-radius: 8px;
}

.radius-left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.radius-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/**
 * Site header
 */
body > header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
  align-items: center;
  justify-items: center;
}
body > header .logo a {
  line-height: 0;
  display: block;
}

@media screen and (max-width: 600px) {
  body > header picture,
  body > header img {
    width: 96px;
    height: auto;
  }
}
/**
   * Site footer
   */
body > footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-heading {
  font-size: 1.125rem;
  margin-bottom: 5px;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0;
}

.contact-list {
  list-style: none;
  margin-left: 0;
}

.info a {
  color: var(--white);
}
.info p {
  color: var(--white);
  line-height: 15px;
  margin: 0;
}

/**
   * Page content correct
   */
.tmpl-home .section,
.tmpl-post .section,
.tmpl-page .section,
.tmpl-tags .section,
.tmpl-shop .section {
  padding-top: 200px;
}
.tmpl-home .section h1,
.tmpl-home .section h2,
.tmpl-post .section h1,
.tmpl-post .section h2,
.tmpl-page .section h1,
.tmpl-page .section h2,
.tmpl-tags .section h1,
.tmpl-tags .section h2,
.tmpl-shop .section h1,
.tmpl-shop .section h2 {
  font-weight: bold;
  position: absolute;
  margin-top: -3.5rem;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  z-index: 1;
  font-size: 6rem;
  line-height: 6rem;
}
.tmpl-home .section h3,
.tmpl-post .section h3,
.tmpl-page .section h3,
.tmpl-tags .section h3,
.tmpl-shop .section h3 {
  font-size: 2.335rem;
  letter-spacing: -1px;
  line-height: 1.15;
  font-weight: bold;
  text-wrap: pretty;
  margin: 0;
}
@media screen and (max-width: 992px) {
  .tmpl-home .section h3,
  .tmpl-post .section h3,
  .tmpl-page .section h3,
  .tmpl-tags .section h3,
  .tmpl-shop .section h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .tmpl-home .section h1,
  .tmpl-post .section h1,
  .tmpl-page .section h1,
  .tmpl-tags .section h1,
  .tmpl-shop .section h1 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 992px) {
  .tmpl-home .section,
  .tmpl-post .section,
  .tmpl-page .section,
  .tmpl-tags .section,
  .tmpl-shop .section {
    flex-direction: column;
    padding-top: 100px;
  }
  .tmpl-home .section h2,
  .tmpl-post .section h2,
  .tmpl-page .section h2,
  .tmpl-tags .section h2,
  .tmpl-shop .section h2 {
    font-weight: bold;
    margin-left: 2.5px;
    margin-top: -62px;
    position: absolute;
    font-size: 3.5rem;
  }
}

.margin {
  margin: 20px;
}

.page-content {
  flex: 1 0 auto;
}

.page-heading {
  font-size: 2rem;
}

.post-list-heading {
  font-weight: bold;
  margin-top: -174px;
  position: absolute;
  font-size: 9rem;
}
.post-list-heading.tiny {
  margin-top: -98px;
  font-size: 5rem;
}
@media screen and (max-width: 992px) {
  .post-list-heading.tiny {
    margin-top: -48px;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 992px) {
  .post-list-heading,
  .section-heading {
    margin-top: -78px;
    font-size: 4rem;
  }
}
.tmpl-tags > header > h1 {
  height: 50vh;
}
.tmpl-tags section {
  padding-top: 0;
  margin-top: calc -40px;
}

.fake-post-title {
  display: block;
  font-weight: bold;
  margin: 5px 0;
  font-size: 2.625rem;
}

.tiny {
  font-size: 0.6rem;
}

.social-media-list, .pagination {
  list-style-type: none;
  display: flex;
  margin: 10px 0 0 0;
  justify-content: space-between;
}
.social-media-list li a, .pagination li a {
  display: block;
  padding: 2.5px;
}
.social-media-list li a:hover, .pagination li a:hover {
  border-color: var(--border-color-02);
}

/**
   * Pagination navbar
   */
.pagination {
  margin-bottom: 10px;
}
.pagination li a,
.pagination li div {
  min-width: 41px;
  text-align: center;
  box-sizing: border-box;
}
.pagination li div {
  display: block;
  padding: 2.5px;
  border: 1px solid transparent;
}
.pagination li div.pager-edge {
  color: var(--border-color-01);
  border: 1px dashed;
}

/*# sourceMappingURL=index.css.map */
