$animation-timing: 0.3s;
$small-font-size: 15px;
$spacing-unit: 10px;
$background-color: var(--background-color);

.card {
  position: relative;
  transition: 0.3s;

  &.corner-effect:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(255, 255, 255, 0.32);
    border-top-color: $background-color;
    border-right-color: $background-color;
    transition: $animation-timing;
    border-bottom-left-radius: $radius;
    color: var(--lightgray);
  }

  .title {
    transform: translateY(0);
    transition: $animation-timing;
    text-align: center;
    &:after {
      transition: $animation-timing;
      content: '';
      display: block;
      margin: 1em auto 0 auto;
      height: 4px;
      width: 80px;
    }
  }

  .more.title {
      padding: 0px;
    }

  &:hover {
    .title {
      transform: translateY(-10px);
      &:after {
        transform: scaleX(2);
      }
    }
  }

  &.corner-effect:hover:after {
    border-width: 2em;
  }

  .date {
    margin-top: auto;
    display: block;
    font-size: $small-font-size;
    padding: $spacing-unit;
    font-weight: bold;
  }

  .link {
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
    text-align: center;
    height: 100%;
    position: relative;

    .excerpt {
      font-size: $small-font-size;
    }
  }

  .price {
    font-weight: bold;
    font-size: xx-large;
    margin-top: 1em;
  }
}
