$base-font-family: Arial;
$spacing-unit: 10px;
$white: #ffffff;

.customer-action {
  height: 100%;
  position: fixed;
  right: 0%;
  top: 0;
  width: 50%;
  max-width: 450px;
  box-shadow: 0 0 20px #000000;
  z-index: 999;
  grid-template-rows: 1em 1em 1fr 1fr;
  transform: translateX(100%);

  &::after {
    background-color: #00000047;
    content: '';
    height: 100vh;
    left: -100vw;
    position: absolute;
    top: 0;
    width: 100vw;
    display: none;
  }

  .actions,
  .title {
    height: 1.4em;
  }

  .cart {
    position: relative;
    margin-left: auto;

    &::after {
      content: attr(items);
      color: #000000;
      font-family: $base-font-family;
      border-radius: 50%;
      width: 1em;
      height: 1em;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -0.5em;
      left: -0.25em;
      font-size: 0.69em;
      font-weight: bold;
    }
  }

  .items {
    .item {
      margin-bottom: $spacing-unit;
    }
    .image {
      aspect-ratio: 1/1;
    }

    .variation {
      border: 1px solid $white;
      border-radius: 100%;
      padding: 0.25em;
    }
  }

  .totals {
    margin-top: auto;
    margin-bottom: 1em;

    li {
      padding: 0;
      line-height: 2em;

      &.label {
        margin-right: auto;
      }

      &:last-child {
        font-weight: bold;
      }
    }
  }
}
