$animation-timing: 0.3s;
$spacing-unit: 10px;
$text-color: #000000;
$base-line-height: 1.5;
$on-medium: 768px;

nav {
  display: inline-block;
  min-width: 30px;
  max-width: fit-content;
  justify-self: left;
  z-index: 9999;
  margin-left: 40px;

  label {
    height: 3em;
    transition: $animation-timing;
    display: flex;
    align-items: center;
    padding: $spacing-unit;

    .round {
      position: fixed;
      top: 1.2em;
      left: 1.5em;
      transform: scale(0);
      transition: $animation-timing;
    }
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;

    span {
      display: block;
      width: 3em;
      height: 4px;
      transition: $animation-timing;
      border-radius: calc($spacing-unit / 6);
    }

    &:hover {
      span:nth-child(1) {
        width: 2em;
      }
      span:nth-child(2) {
        width: 3em;
      }
      span:nth-child(3) {
        width: 2.5em;
      }
    }
  }

  .trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;

    ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      margin: 0;
      text-align: center;
      padding: 0;

      a {
        text-align: center;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        display: block;
        padding: calc($spacing-unit / 2) $spacing-unit;
        text-decoration: none;

        &:hover {
          color: #1f4954;
          background-color: white;
        }
      }
    }
  }

  input.nav-trigger {
    display: none;
  }

  input:checked ~ label {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 2;

    span {
      display: none;
    }

    .round {
      transform: scale(75);
      position: fixed;
    }
  }

  input:checked ~ .trigger {
    display: flex;
    overflow: hidden;
    z-index: 9;

    ul {
      opacity: 0;
      animation: menuappear .250s;
      animation-direction: alternate;
      animation-delay: 150ms;
      animation-fill-mode: forwards;
    }
  }

  @keyframes menuappear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;

    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

  @media screen and (min-width: $on-medium) {
    border: none;
    background-color: inherit;

    .page-link {
      display: inline;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }
      margin-left: auto;
    }
  }
}
