.homeList {
  margin: 0;
  padding: 0;
  list-style: none;

  > .card {
    border-radius: $radius;
    &:nth-child(3n + 1) {
      grid-column: span 12 / span 12;
    }
  }
}

.shopList {
  margin: 0;
  padding: 0;
  list-style: none;

  > .card {
    aspect-ratio: 1/1;
  }
}
