.homeList {
  margin: 0;
  padding: 0;
  list-style: none;

  > .card {
    &:nth-child(3n + 1) {
      flex: 0 0 calc(100% - $spacing-unit);
    }
  }
}

.shopList {
  margin: 0;
  padding: 0;
  list-style: none;

  > .card {
    aspect-ratio: 1/1;
  }
}
