/**
   * Posts
   */

article,
.tmpl-tags {
  & > header {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 0;
    height: 85vh;
    padding: 0 $spacing-unit;
    position: relative;

    @media screen and (max-width: $on-medium) {
      flex-direction: column;
    }

    h1 {
      @include relative-font-size(2.625);
      z-index: 0;
      padding: calc($spacing-unit/2);

      @media screen and (max-width: $on-medium) {
        @include relative-font-size(2.025);
      }
    }

    img {
      height: inherit;
      left: 0;
      min-width: 50%;
      position: absolute;
      top: 0;
      z-index: 0;
      max-width: 50%;

      @media screen and (max-width: $on-medium) {
        max-width: 100%;
      }
    }

    .info {
      position: absolute;
      bottom: calc($spacing-unit * -3);
      right: 0;
    }
  }

  & > main {
    max-width: 75ch;
    padding: 0 $spacing-unit;
    margin: auto;
    & > p:first-child {
      margin-top: $spacing-unit * 2;
    }
  }

  & > footer {
    margin-top: $spacing-unit * 7;
    max-width: $content-main;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

    section {
      position: relative;
    }

    .post-meta {
      padding: $spacing-unit * 3 $spacing-unit;
      box-sizing: border-box;
      font-weight: bold;
      width: -webkit-fill-available;

      @include relative-font-size(2);

      @media screen and (max-width: $on-medium) {
        @include relative-font-size(1);
      }

      a {
        text-transform: capitalize;
        color: black;
      }
    }

    time {
      @include relative-font-size(2.5);
      font-weight: bold;
      padding: $spacing-unit;
      color: var(var(--site-title-color));
      position: absolute;
      margin-top: $spacing-unit * 1.8;
      right: 0;
    }
  }
}
