---
layout: default-hero
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2>Last Projects</h2>

  {% assign projects = site.projects %}

  {%- if projects.size > 0 -%}
    {%- if projects.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for project in projects -%}
      <li>
        <span class="post-meta">{{ project.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ project.url | relative_url }}">
            {{ project.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ project.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

  <h2>Don’t let DIY become DIY</h2>
  <p>“Do it yourself” (“DIY”) is the method of building, modifying, or repairing things without the direct aid of experts or professionals.</p>

  <p>Academic research has described DIY as behaviors where “individuals engage raw and semi-raw materials and parts to produce, transform, or reconstruct material possessions, including those drawn from the natural environment (e.g., landscaping).”</p>

  <p>DIY behavior can be triggering by various motivations previously categorized as marketplace motivations (economic benefits, lack of product availability, lack of product quality, need for customization), and identity enhancement (craftsmanship, empowerment, community seeking, uniqueness).</p>

  <p><a href="https://en.wikipedia.org/wiki/Do_it_yourself">Wikipedia</a><p>

  <h2>Last Posts</h2>
  
  {% assign posts = site.posts %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
