---
layout: home
permalink: /fish/
eleventyNavigation:
  key: Fish
  order: 5
---

<section class="section">
<h1>Fish.</h1>

{% set postslist = collections.fish %}
{% set collectionLink = '/fish/' %}
{% set collectionReadMore = 'hide' %}
{% include "postslist.njk" %}
</section>

{% include "partials/section-sayhi.njk" %}
{% include "partials/section-subscribe.njk" %}