---
layout: home
permalink: /fishes/
eleventyNavigation:
  key: Fish
  order: 5
---

<section class="section container">
<h1>Fish.</h1>

{% set postslist = collections.fishes %}
{% set collectionLink = '/fishes/' %}
{% set collectionReadMore = 'hide' %}
{% include "postslist.njk" %}
</section>

{% include "partials/section-sayhi.njk" %}
{% include "partials/section-subscribe.njk" %}