---
layout: shop
permalink: /shop/
title: Trashy's Reef Garbage Shop - Where Eco-Friendly Aquatic Dreams Come True
---

{% include "partials/section-shop-phytoplankton.njk" %}

{% include "partials/section-shop-frags.njk" %}

{% include "partials/section-shop-hardware.njk" %}

{% include "partials/section-subscribe.njk" %}
