<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="manifest" href="{{ '/site.webmanifest' | url }}"/>
    <link rel="apple-touch-icon" href="{{ '/img/icon/apple/apple-touch-icon.png' | url }}">
    <meta name="theme-color" content="#4285f4">
    <link rel="icon" type="image/png" href="{{ '/img/icon/chrome/chrome-favicon-16-16.png' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script src="{{ '/js/main.js' | url }}"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PPWXDW4');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPWXDW4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <nav>
        <input type="checkbox" id="nav-trigger" class="nav-trigger"/>
        <label class="menu-icon{% if color %} {{ color }} {% else %} white {% endif %}" for="nav-trigger">
          <span></span>
          <span></span>
          <span></span>
          <svg height="100" width="100" class="round">
            <circle
        cx="50"
        cy="50"
        r="40"
        fill="#1f4954"
/>
          </svg>

        </label>
        <label class="trigger" for="nav-trigger">
        <ul>
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
        </ul>
        </label>
      </nav>
      <div class="home">
        <h1 class="sr-text">{{ metadata.title }}</h1>
        <a href="{{ '/' | url }}">

          {% image "./img/icon/chrome/chrome-installprocess-128-128.png", "Marc Dobler", "(min-width: 30em) 50vw, 100vw" %}
          
          
        </a>
      </div>
      <div></div>

    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
    
      &copy; Marc Dobler - {% year %}

    </footer>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>