---
layout: layouts/base.njk
templateClass: tmpl-page
---

<article>
  <header>
    <h1 class="color-bg {{ color }}">{{ title }}</h1>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>

  <footer>
</article>
    
{% include "section-subscribe.njk" %}