* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

/**
 * Basic styling
 */
body {
  scroll-behavior: smooth;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: var(--site-title-color);
  background-color: var(--background-color);
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

main {
  flex-grow: 1;
}

.tmpl-home {
  > main {
    max-width: 70em;
    margin: auto;

    @media screen and (max-width: $on-medium) {
      max-width: 100%;
    }
  }
}

.tmpl-post,
.tmpl-page,
.tmpl-product {
  > header {
    position: absolute;
    z-index: 9;
  }
}

.sr-text {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.small {
  @include relative-font-size(0.5);
}

.btn,
button {
  border: none;
  font-size: smaller;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease-in-out 250ms;

  &.wide {
    width: -webkit-fill-available;
  }

  &:hover {
    background-color: var(--green);
    color: coloraria(#92d9cb);
  }
}

.icon {
  &.delete {
    color: var(--redstraight);
  }
}

.no-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.smaller {
  font-size: smaller;
}

.strong {
  font-weight: bold;
}

.fullscreen {
  width: 100%;
  height: max-content;
}

.align-right {
  margin-left: auto;
  float: right;
}

.align-left {
  margin-right: auto;
  float: left;
}

// Separator definition
// size opacity margintop marginright marginbottom marginleft

$separatorSizes: (
  'separator-thin': (
    1px 0.5 0
  ),
  'separator-large': (
    2px 1 -2.5em
  ),
);

@each $className, $option in $separatorSizes {
  .#{$className}::before {
    background-color: white;
    content: '';
    display: block;
    height: #{nth($option, 1)};
    margin-bottom: 1em;
    margin-left: #{nth($option, 3)};
    margin-right: #{nth($option, 3)};
    margin-top: 1em;
    opacity: #{nth($option, 2)};
    width: inherit;
  }
}
