$themeColours: (
  'amber': #c1605c,
  'black': #211f1f,
  'blue': #475795,
  'bluedark': #2b2f3c,
  'bluegrey': #98bec8,
  'bluelight': #d1e1e0,
  'brown': #965630,
  'darkgray': #333333,
  'gray': #808080,
  'green': #3a6351, // adjusted
  'greylight': #9ba5b5,
  'lightgray': #f3f3f3, // adjusted
  'navy': #0f1a24, // adjusted
  'orange': #bf3100,
  'pink': #e7617c,
  'purple': #7d63d0, // adjusted
  'teal': #247b8a, // adjusted
  'violet': #a246d6, // adjusted
  'white': #ffffff, // adjusted
  'yellow': #a38f10,
  'redstraight': #ff0000,
);

:root {
  @each $themeColour, $color in $themeColours {
    --#{$themeColour}: #{$color};
  }

  --background-color: var(--lightgray);
  --site-title-color: var(--darkgray);
}

@function coloraria($bg) {
  @return if(lightness($bg) > 50, var(--site-title-color), var(--white));
}

@each $themeColour, $color in $themeColours {
  .color.#{$themeColour} {
    ::selection,
    ::-moz-selection {
      background: complement($color);
      color: coloraria($color);
    }

    background-color: var(--#{$themeColour});
    color: coloraria($color);

    .no-color {
      background-color: transparent;
    }

    .link:after {
      background-color: darken($color, 25%);
    }
  }

  .color.#{$themeColour}.invert,
  .color.#{$themeColour}.invert *,
  .color.#{$themeColour}.invert *::selection {
    background: complement($color);
    color: coloraria($color);
  }

  .title.color.#{$themeColour}::after,
  .menu-icon .color.#{$themeColour} {
    background-color: coloraria($color);
  }
}
