@use 'sass:math';

$themeColours: (
  'amber': #c1605c,
  'black': #211f1f,
  'blue': #475795,
  'bluedark': #2b2f3c,
  'bluegrey': #98bec8,
  'bluelight': #d1e1e0,
  'brown': #965630,
  'darkgray': #333333,
  'gray': #808080,
  'green': #3a6351,
  // adjusted
  'greylight': #9ba5b5,
  'lightgray': #f3f3f3,
  // adjusted
  'navy': #0f1a24,
  // adjusted
  'orange': #bf3100,
  'pink': #e7617c,
  'purple': #7d63d0,
  // adjusted
  'teal': #247b8a,
  // adjusted
  'violet': #a246d6,
  // adjusted
  'white': #ffffff,
  // adjusted
  'yellow': #f8c713,
  'redstraight': #ff0000,
  'red': #c22203,
  'silver': #d1d1d1,
  'seagreen': #2e8b57,
  'cyan': #00ffff,
  'darkgreen': #006400,
  'olivegreen': #808000,
  'gold': #ffd700,
);

:root {
  @each $themeColour, $color in $themeColours {
    --#{$themeColour}: #{$color};
  }

  --background-color: map-get($themeColours, 'lightgray');
  --site-title-color: map-get($themeColours, 'darkgray');
}

@function luminance($color) {
  $red: math.div(red($color), 255);
  $green: math.div(green($color), 255);
  $blue: math.div(blue($color), 255);

  $red: if($red <= 0.03928, math.div($red, 12.92), pow(math.div(($red + 0.055), 1.055), 2.4));
  $green: if(
    $green <= 0.03928,
    math.div($green, 12.92),
    pow(math.div(($green + 0.055), 1.055), 2.4)
  );
  $blue: if($blue <= 0.03928, math.div($blue, 12.92), pow(math.div(($blue + 0.055), 1.055), 2.4));

  @return 0.2126 * $red + 0.7152 * $green + 0.0722 * $blue;
}

@function contrast($color1, $color2) {
  $l1: luminance($color1) + 0.05;
  $l2: luminance($color2) + 0.05;
  @return math.div(max($l1, $l2), min($l1, $l2));
}

@function coloraria($bg) {
  $white: map-get($themeColours, 'lightgray');
  $black: map-get($themeColours, 'darkgray');

  $contrastWithWhite: contrast($bg, $white);
  $contrastWithBlack: contrast($bg, $black);

  @if ($contrastWithWhite >= 3) {
    @return $white;
  } @else {
    @return $black;
  }
}

@each $themeColour, $color in $themeColours {
  .color.#{$themeColour} {
    ::selection,
    ::-moz-selection {
      background: complement($color);
      color: coloraria(complement($color));
    }

    &.invert,
    &.invert *,
    &.invert *::selection {
      background: complement($color);
      color: coloraria(complement($color));
    }

    background-color: var(--#{$themeColour});
    color: coloraria($color);

    .no-color {
      background-color: transparent;
    }

    .link:after {
      background-color: darken($color, 25%);
    }
  }

  .title.color.#{$themeColour}::after,
  .menu-icon .color.#{$themeColour} {
    background-color: coloraria($color);
  }
}
