@import 'layout/menu';
@import 'layout/posts';
@import 'layout/cart';
@import 'layout/card';
@import 'layout/postlist';

@import 'utils/grid';
@import 'utils/prism-base16-monokai.dark';
@import 'utils/elements';
/**
 * Site header
 */
body > header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: '. . .';
  align-items: center;
  justify-items: center;

  .logo {
    a {
      line-height: 0;
      display: block;
    }
  }
}

@media screen and (max-width: $on-mobile) {
  body > header {
    picture,
    img {
      width: 96px;
      height: auto;
    }
  }
}

/**
   * Site footer
   */
body > footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: calc($spacing-unit * 2);
  padding-bottom: $spacing-unit * 2;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: calc($spacing-unit / 2);
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0;
}

.contact-list {
  list-style: none;
  margin-left: 0;
}

.info {
  a {
    color: var(--white);
  }

  p {
    color: var(--white);
    line-height: $spacing-unit * 1.5;
    margin: 0;
  }
}

/**
   * Page content correct
   */
.tmpl-home,
.tmpl-post,
.tmpl-page,
.tmpl-tags {
  .section {
    position: relative;
    margin: auto;
    display: flex;
    padding-top: $spacing-unit * 15;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

    &:first-child {
      padding-top: $spacing-unit * 7;
    }

    h1,
    h2 {
      font-weight: bold;
      position: absolute;
      margin-top: -1.1em;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      z-index: 1;

      @include relative-font-size(9);

      &.tiny {
        margin-top: -98px;
        @include relative-font-size(5);

        @media screen and (max-width: $on-large) {
          margin-top: -48px;
          @include relative-font-size(2.5);
        }
      }
    }

    h3 {
      @include relative-font-size(2.625);
      letter-spacing: -1px;
      line-height: 1.15;
      font-weight: bold;

      @media screen and (max-width: $on-large) {
        @include relative-font-size(1.8);
      }
    }

    @media screen and (max-width: $on-mobile) {
      h1 {
        @include relative-font-size(3.5);
      }
    }

    @media screen and (max-width: $on-large) {
      flex-direction: column;
      padding-top: calc($spacing-unit * 10);

      h2 {
        font-weight: bold;
        margin-left: calc($spacing-unit / 4);
        margin-top: calc($spacing-unit * -1.1);
        position: absolute;
        font-size: 3.5rem;
      }
    }
  }
}

.padding {
  padding: calc($spacing-unit * 2);
}

.margin {
  margin: calc($spacing-unit * 2);
}

.page-content {
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  font-weight: bold;
  margin-top: -174px;
  position: absolute;

  @include relative-font-size(9);

  &.tiny {
    margin-top: -98px;
    @include relative-font-size(5);

    @media screen and (max-width: $on-large) {
      margin-top: -48px;
      @include relative-font-size(2.5);
    }
  }
}

@media screen and (max-width: $on-large) {
  .post-list-heading,
  .section-heading {
    margin-top: -78px;
    @include relative-font-size(4);
  }
}



.tmpl-tags {
  & > header > h1 {
    height: 50vh;
  }

  section {
    padding-top: 0;
    margin-top: calc ($spacing-unit * -4);
  }
}

.fake-post-title {
  display: block;
  font-weight: bold;
  margin: calc($spacing-unit / 2) 0;
  @include relative-font-size(2.625);
}

.tiny {
  @include relative-font-size(0.6);
}

.social-media-list {
  list-style-type: none;
  display: flex;
  margin: $spacing-unit 0 0 0;
  justify-content: space-between;
  li {
    a {
      display: block;
      padding: calc($spacing-unit / 4);
      &:hover {
        border-color: var(--border-color-02);
      }
    }
  }
}

/**
   * Pagination navbar
   */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a,
    div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: calc($spacing-unit / 4);
      border: 1px solid transparent;

      &.pager-edge {
        color: var(--border-color-01);
        border: 1px dashed;
      }
    }
  }
}

$default-grid-columns: 12;
$default-grid-gutter: $spacing-unit;

.grid {
  @include grid($gutter: $default-grid-gutter, $flex-wrap: wrap);

  @for $i from 1 through $default-grid-columns {
    > .col-#{$i} {
      @include grid-col(
        $col: $i,
        $grid-columns: $default-grid-columns,
        $gutter: $default-grid-gutter
      );

      @media screen and (max-width: $on-medium) {
        flex: 0 0 calc(100% - $spacing-unit);
      }  
    }
  }
}

.grid.no-margin {
  @include grid($gutter: 0px, $flex-wrap: wrap);

  @for $i from 1 through $default-grid-columns {
    > .col-#{$i} {
      @include grid-col($col: $i, $grid-columns: $default-grid-columns, $gutter: 0em);
      @media screen and (max-width: $on-medium) {
        flex: 0 0 100%;
      }  
    }
  }
}


