<ul class="info no-style invert padding margin">
    <li>Temperature: {{ parameter.temp }}</li>
    <li>pH: {{ parameter.ph }}</li>
    <li>Size: {{ parameter.size }}</li>
    <li>Geography: {{ parameter.geography }}</li>
</ul>