<section>
{% set maxPosts = collections.posts.length | min(6) %}
<h2>{% if maxPosts == 1 %}Blog.{% else %}Blogs.{% endif %}</h2>s

{% set postslist = collections.posts | head(-6) %}
{% set postslistCounter = collections.posts | length %}
{% set collectionLink = '/posts/' %}
{% set collectionReadMore = 'show' %}
{% set collectionReadMoreTitle = 'Read all posts' %}
{% set collectionReadMoreText = 'I wrote about DIY for Reef Tank, Programming IoT, 3D printing' %}
{% include "postslist.njk" %}
</section>