<section class="section">
  <h2>Say hi.</h2>
  <div class="grid no-gap">
    <div class="color teal col-6 padding">
        <p>
          I am <span id="howoldyouare"></span>, IoT enthusiast from France. Although I have built most of my professional carrer in programming, my passion is IoT projects. I independatly studied using different sources many aspects of it and managed to implement several projects for my own use
        </p>
        <p>  
          <br />
          Marc Dobler
          <br />
          Agiez, Swiss
        </p>
    </div>
    <div class="color teal col-6">
      <img src="/assets/images/avatars/marc-dobler-avatar.png" loading="lazy" alt="Marc Dobler" width="400" height="400" title="My face in Dark">
    </div>
  </div>
</section>