<section class="section container">
{% set maxPosts = collections.corals.length | min(6) %}
<h2>{% if maxPosts == 1 %}Coral.{% else %}Corals.{% endif %}</h2>

{% set postslist = collections.corals | head(-6) %}
{% set postslistCounter = collections.corals | length %}
{% set collectionClass = 'homeList' %}
{% set collectionLink = '/corals/' %}
{% set collectionReadMore = 'show' %}
{% set collectionReadMoreTitle = 'View all corals' %}
{% set collectionReadMoreText = 'For a better, obsessive corals disorder' %}
{% include "postslist.njk" %}
</section>