{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <div class="logo">
        <a href="{{ '/' | url }}">
          <img src="/assets/images/icon/android/android-launchericon-144-144.png" loading="lazy" width="144" height="144" alt="Marc Dobler" title="Logo who tell since important date I was born in second"/>
        </a>
      </div>
      