<section class="section container">
  <h2>Say hi.</h2>
  <div class="no-gutter">
    <div class="card radius-left padding color teal col col-6-tablet col-6-desktop">
        <p>
          Hello, I'm Marc Dobler, a <span id="howoldyouare"></span>-year-old IoT enthusiast based in Swiss. With a background in programming, my professional journey has been primarily focused on software development. However, my true passion lies in exploring the realm of IoT projects. Through extensive self-study and research from various sources, I have acquired a deep understanding of diverse IoT aspects. Leveraging this knowledge, I have successfully executed numerous IoT projects tailored to my personal requirements and interests.
        </p>
        <p>  
          <br />
          Marc Dobler
          <br />
          Agiez, Swiss
        </p>
    </div>
    <div class="card radius-right color teal col col-6-tablet col-6-desktop">
      <img class="img-fill radius-right" src="/assets/images/avatars/marc-dobler-avatar.png" loading="lazy" alt="Marc Dobler" width="400" height="400" title="My face in Dark">
    </div>
  </div>
</section>