<section class="section container">
{% set maxPosts = collections.phytoplankton.length | min(6) %}
<h2>{% if maxPosts == 1 %}Phytoplankton.{% else %}Phytoplanktons.{% endif %}</h2>

{% set postslist = collections.phytoplankton | head(-6) %}
{% set postslistCounter = collections.phytoplankton | length %}
{% set collectionClass = 'productList' %}
{% set collectionLink = '/shop/phytoplankton/' %}
{% set collectionReadMore = 'show' %}
{% set collectionReadMoreTitle = 'View all phytoplankton' %}
{% set collectionReadMoreText = 'Feed, your obsessive corals disorder' %}
{% include "productslist.njk" %}
</section>