<section>
    <h2 class="post-list-heading tiny">Published in:</h2>
    <div class="post-meta color pink wide">
        
            {%- for tag in tags | filterTagList -%}
            {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
            <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>

            {%- if not loop.last -%}
                &nbsp;/&nbsp;
            {%- endif -%}
            {%- endfor %}
        
        <time class="no-color" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </div>
</section>