<!--  Essential META Tags -->
<meta property="og:title" content="{% if genus %}
        {{ genus }} {{ species }} {{ metadata.titleDivider}} {{ metadata.title }}
      {% elseif title %}
        {{ title }} {{ metadata.titleDivider}} {{ metadata.title }}
      {% else %}
        {{ metadata.title }} {{ metadata.titleDivider}} {{ metadata.slogan }}
      {% endif %}">
<meta property="og:type" content="{{ metadata.ogtype | default(ogtype) }}" />
<meta property="og:image" content="{{ metadata.image | default(image) }}">
<meta property="og:url" content="{{ page.url | url }}">
<meta name="twitter:card" content="summary_large_image">

<!--  Non-Essential, But Recommended -->
<meta property="og:description" content="{{ metadata.description | default(description) }}">
<meta property="og:site_name" content="{{ metadata.site_name }}" />
<meta name="twitter:image:alt" content="{{ metadata.imagealt | default(imagealt) }}" />
<meta property="og:locale" content="{{ metadata.language }}" />

<!--  Non-Essential, But Required for Analytics -->
<meta property="fb:app_id" content="3107674936174174" />
<meta name="twitter:site" content="@marcdobler" />


{% if ogtype == "article" %}

<meta property="article:published_time" content="{{ published_time }}" />

    {% if  modified_time %}
    <meta property="article:modified_time" content="{{ modified_time }}" />
    {% endif %}

    {% if expiration_time %}
    <meta property="article:expiration_time" content="{{ expiration_time }}" />
    {% endif %}

<meta property="article:author" content="{{ author }}" />
<meta property="article:section" content="{{ section }}" />
<meta property="article:tag" content="{{ tags }}" />

{% endif %}